In [2]:
import pandas as pd

In [3]:
import ndjson

# load from file-liake objects
with open('circle.ndjson') as f:
    data = ndjson.load(f)

# convert to and from objects
text = ndjson.dumps(data)
data = ndjson.loads(text)
len(data)

122876

In [7]:
df  = pd.DataFrame(columns = ["id", "key_id", "x1", "y1", "x2", "y2", "step", "countrycode", "recognized"])
prev = None
for c,d in enumerate(data[0:10000]):
    for i,j in enumerate(d["drawing"][0][0]):
        if prev == None:
            prev = (data[0]["drawing"][0][0][i], d["drawing"][0][1][i])    
        df = df.append({"id": 0, "x1": d["drawing"][0][0][i], 
                        "y1": d["drawing"][0][1][i], 
                        "x2": prev[0], 
                        "y2": prev[1],
                        "step": i,
                        "key_id": d["key_id"],
                        "countrycode": d["countrycode"],
                        "recognized": d["recognized"]
                       }, ignore_index=True)
        prev = (d["drawing"][0][0][i], d["drawing"][0][1][i])

In [8]:
df.head()

  id            key_id   x1   y1   x2  y2 step countrycode recognized
0  0  5266005389475840  109   18  109  18    0          US       True
1  0  5266005389475840   85   18  109  18    1          US       True
2  0  5266005389475840   47   43   85  18    2          US       True
3  0  5266005389475840   22   69   47  43    3          US       True
4  0  5266005389475840    2  112   22  69    4          US       True

In [9]:
df.to_csv("circle-data.csv", sep=',', encoding='utf-8', index=False)